.headerStyle {
  background-color: paleturquoise;
  position: relative;
  svg{
    margin:5px 0 0 5px ;
  }
  .connectionButton {
    position: absolute;
    right: 10px;
    top: 10px;
    button {
      margin: 1rem;
      transition: ease-in-out 1s;
      height: 46px;
      padding: 10px;
      margin-left: 5px;
      /* width: 100px; */
      background-color: rgb(70, 66, 73);
      color: white;
    }
    .connect::before {
      content: "";
      display: inline-block;
      width: 10px; /* Adjust size as needed */
      height: 10px;

      background-color: rgb(28, 117, 6);
      border-radius: 50%; /* This makes it a circle */
      margin-right: 5px; /* Adjust spacing as needed */
    }

    .disconnect::before {
      content: "";
      display: inline-block;
      width: 10px; /* Adjust size as needed */
      height: 10px;
      background-color: rgb(196, 24, 24);
      border-radius: 50%; /* This makes it a circle */
      margin-right: 5px; /* Adjust spacing as needed */
    }
  }
}
